.contentWrapper {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 55% 45%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 32px;
    display: flex;
  }
}

.background {
  background: url('./assets/background.svg') no-repeat;
  background-size: cover;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 100vw;
  }
}